<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finpay.wallet">

    <application>
        <activity
            android:name=".view.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SelfieActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".IdentityActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FormActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.upgrade_acc.UpgradeAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".view.camera.CameraResultActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".view.camera.CameraActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".view.upgrade_acc.UpgradeInformationActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".view.AppActivity"
            android:exported="false"
            android:label="@string/title_activity_app"
            android:theme="@style/AppTheme.finpayTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.HomeActivity"
            android:exported="false" />
    </application>

</manifest>